<div class="touring-back-index">
  <%= render 'users/header' %>
  <%= render 'users/footer' %>
  <div class="team-main">
    <div class="touring-index-box">
    <div>Touring Members</div>

    <table class="touring-member-th">
      <thead>
        <tr>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @touring_members.each do |touring_member| %>
          <tr>
            <td><%= link_to touring_member.user.nickname , user_path(touring_member.user.id),class: "member-link" %></td>
            <td></td>
            <td></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= link_to '戻る', :back ,class: "back-link" %>
  </div>
</div>

