
<h1>Touring Members</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @touring_members.each do |touring_member| %>
      <tr>
        <td><%= touring_member.user.nickname %></td>
        <td></td>
        <td></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

