
<div class="my-page-back ">
	<div class="motoinfo-main">
		<div>新しいバイク情報を追加</div>

		<%= render 'form', moto_info: @moto_info %>

		<%= link_to 'Back', user_path(current_user), class: "moto-info-add" %>
    </div>
</div>