<h1>メンバー一覧</h1>

<table>
  <thead>
    <tr>
      <th>メンバー</th>
    </tr>

  </thead>

  <tbody>
    <tr>
      <td><%= @team.user.nickname %></td>
    </tr>
    <% @team_members.each do |team_member| %>
      <tr>
        <td><%= team_member.user.nickname %></td>
      </tr>
    <% end %>
  </tbody>
</table>
