<body class="team-page-back">

  <%= render 'users/header' %>
  <%= render 'users/footer' %>
  <div class="team_member-main">
      <h1>メンバー一覧</h1>

      <table class="myteam-th">
        <thead>
          <tr>
            <th>メンバー</th>
          </tr>

        </thead>

        <tbody>
          <% @team_members.each do |team_member| %>
            <tr>
              <td><%= link_to team_member.user.nickname , user_path(team_member.user.id),class: "member-link" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <%= link_to "戻る", team_path(@team.id), class: "back-link" %>
  </div>
</body>