
<div class="main-visual">
	<div class="about-body">
        <%= link_to "HELLO MOTO", new_user_registration_path, class: "logo" %>
        <div class="about-box">
	        <div class="about-title">
	        	HELLO MOTOは
	        </div>
	        <div class="about-text-top">
	        	バイクのツーリングクラブ、チームの管理を簡単にする事、そしてまだ周りにツーリング仲間がいない方、<br>
	        	<br>新しい仲間が欲しい方に自分にあったチームを気軽に見つけてもらうためのサイトです.
	        </div>

	        <div class="about-text-second">
	            ・ツーリングチーム、クラブの運営に四苦八苦してる…
	        </div>
	        <div class="about-text-third">
	        	・新しいツーリング仲間がほしい…
	        </div>

	        <div class="about-text-four">
	        	HELLO MOTOを使ってみよう！
	        </div>


	        <div class="about-text-last">
	            そして仲間と素晴らしい景色を観に行こう！
	        </div>
	    </div>


    </div>
      <%= render 'users/footer' %>
</div>

