.pagination {
    color: white;
    text-decoration: none;
    width: 300px;
    margin-left: 700px;
    margin-top: 30px;
}
.pagi{
	color: white;
	text-decoration: none;
}
.first{
		color: white;
	text-decoration: none;
}
.first-button{
		color: white;
	text-decoration: none;
}