// Place all the styles related to the Teams controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.team-back{
    background-image: url(IMG_20190312_171354.jpg);
    width: 1440px;
    height: 1230px;
    background-size: cover;
    background-position: bottom;
    padding-top: 100px;
    position: relative;
}
.teams-index-main {
    opacity: 0.95;
    width: 60%;
    height: auto;
    margin: auto;
    background-color: white;
    /* padding-top: 75px; */
    border-radius: 18px;
    box-shadow: -1px 1px 10px 10px rgba(55, 152, 149, 0.24);
    position: relative;
    /* margin-top: 130px; */
}
.team-index-title {
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "ヒラギノ角ゴ Pro", Hiragino Kaku Gothic Pro, "Yu Gothic", YuGothic, Arial, "メイリオ", Meiryo, sans-serif;
    text-align: center;
}
.team-index-add-box{
	width: 100%;
}
.team-index-add{
	width: 300px;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "ヒラギノ角ゴ Pro", Hiragino Kaku Gothic Pro, "Yu Gothic", YuGothic, Arial, "メイリオ", Meiryo, sans-serif;
    margin: auto;
    margin-left: 1000px;
}
.team-index-image{
	position: absolute;
	border-radius: 18px;
}
.team-index-text{
	text-align: center;
	margin-top: 30px;
	height: 200px;
}
.team-name-box-index {
    width: 200px;
    margin: auto;
    padding-left: 160px;
    padding-top: 18px;
}
.team-name-index{
	text-decoration: none;
	color: black;
	font-size: 18px
}
.index-led-reg{
	width: 100%;
	height: auto;
}
.index-led {
    width: 50%;
    display: inline;
    /* text-align: right; */
    margin-left: 260px;
}
.index-reg{
	width: 50%;
	float: right;
	margin: 0;

}
.index-app-age {
    width: 100%;
    height: auto;
    padding-top: 10px;
}
.index-app{
    width: 50%;
    display: inline;
    /* text-align: right; */
    margin-left: 260px;
}
.index-age{
	width: 50%;
	float: right;
	margin: 0;

}
.team-intro-box{
  overflow: hidden;
  width: 100%;
}
.team-intro {
    width: 60%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    /* margin: auto; */
    padding: 0px 22px 30px;
    margin-left: 235px;
}

/*show page*/
.team-back{
    background-image: image-url('IMG_20190312_171354.jpg');
    width: 1440px;
    height: 1230px;
    background-size: cover;
    background-position: bottom;
    padding-top: 100px;
    position: relative;
}
.team-main {
    opacity: 0.95;
    width: 800px;
    height: auto;
    margin: auto;
    background-color: white;
    padding-top: 75px;
    border-radius: 38px;
    box-shadow: -1px 1px 10px 10px rgba(55, 152, 149, 0.24);
    position: relative;
    margin-top: 130px;
    border: solid 1px white;
}
.team-top-image {
    border-radius: 49px;
    position: absolute;
    left: 297px;
    top: -100px;
    border: solid white 1px;
}
.team-page-name{
    text-align: center;
    font-size: 28px;
    font-family: monospace;
    padding-top: 30px;
}
.team-le-re{
    width: 100%;
    margin-top: 30px;
}
.team-leader{
    display: inline;
    width: 50%;
    text-align: right;
    margin-left: 252px;

}
.team-region{
    float: right;
    width: 50%;
    text-align: left;
}
.team-age-box{
    width: 100%;
    margin-top: 10px;
}
.age-text {
    width: 150px;
    margin: auto;
}
.team-member-count {
    position: absolute;
    right: 162px;
    top: 123px;
}
.team-chat-box{
    width: 100%;
}
.team-chat {
    width: 550px;
    margin: 50px auto;
}
.back-link-box{
    width: 100%;
    margin: 20px;
    text-align: center;
}
.back-link{
    text-decoration: none;
    color: black;
    width: 50px;
}
.add-link-box {
    width: 100%;
    margin: 20px;
    margin-left: 321px;
}
.link_box-team{
    text-align: center;
    text-decoration: none;
}
.back-link-team{
    color: #34acb3;
    text-decoration: none;
}
