// Place all the styles related to the Team_Members controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.my-team-member-back {
    background-image: image-url('IMG_20190312_171354.jpg');
    width: 100%;
    height: 763px;
    background-size: cover;
    background-position: bottom;
    padding-top: 100px;
    position: relative;
    text-align: center;
}
.team_member-main {
    opacity: 0.95;
    width: 667px;
    height: auto;
    margin: auto;
    background-color: white;
    padding-top: 75px;
    border-radius: 38px;
    box-shadow: -1px 1px 10px 10px rgba(55, 152, 149, 0.24);
    position: relative;
    margin-top: 130px;
    padding-bottom: 30px;
}