// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.header-main {
    font-size: 38px;
    color: white;
    font-family: "Helvetica Neue", Arial, "游ゴシック", YuGothic, "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
    position: absolute;
    top: 0px;
    /* background-color: #5ba0df; */
    width: 100%;
    height: 120px;
    /* opacity: 0.8; */
    /* box-shadow: -1px 1px 10px 10px #2bc7d0; */
}
.logo {
    /* padding-left: 100pc; */
    position: absolute;
    top: 30px;
    left: 100px;
    text-decoration: none;
    color:white;
}
.logo-up {
    /* padding-left: 100pc; */
    position: absolute;
    top: 30px;
    /* left: 100px; */
    right: 200px;
    text-decoration: none;
    color: white;
    font-size: 38px;
    font-family: "Helvetica Neue", Arial, "游ゴシック", YuGothic, "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
}
.logo-in {
    /* padding-left: 100pc; */
    position: absolute;
    top: 30px;
    /* left: 100px; */
    left: 200px;
    text-decoration: none;
    color: white;
    font-size: 38px;
    font-family: "Helvetica Neue", Arial, "游ゴシック", YuGothic, "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
}
/*sign in*/
.new-body {
    margin: auto;
    width: 45%;
    background-color: #103a6f;
    float: right;
    height: 863px;
    opacity: 0.8;
    box-shadow: -1px 1px 10px 10px #142935;
}
.header-link-japan {
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "ヒラギノ角ゴ Pro", Hiragino Kaku Gothic Pro, "Yu Gothic", YuGothic, Arial, "メイリオ", Meiryo, sans-serif;
    /* font: 100%/1.5 "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Verdana, メイリオ, Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif; */
    text-decoration: none;
    font-size: 16px;
    position: absolute;
    left: 630px;
    top: 45px;
    border-bottom: solid 1px white;
}
.header-link-japan-2{
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "ヒラギノ角ゴ Pro", Hiragino Kaku Gothic Pro, "Yu Gothic", YuGothic, Arial, "メイリオ", Meiryo, sans-serif;
    /* font: 100%/1.5 "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Verdana, メイリオ, Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif; */
    text-decoration: none;
    font-size: 16px;
    position: absolute;
    left: 940px;
    top: 45px;
    border-bottom: solid 1px white;
}
.header-link-japan-3{
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "ヒラギノ角ゴ Pro", Hiragino Kaku Gothic Pro, "Yu Gothic", YuGothic, Arial, "メイリオ", Meiryo, sans-serif;
    /* font: 100%/1.5 "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Verdana, メイリオ, Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif; */
    text-decoration: none;
    font-size: 16px;
    position: absolute;
    left: 1140px;
    top: 45px;
    border-bottom: solid 1px white;
}

.main-visual {
    background-image: image-url('IMG_20181130_135829.jpg');
    width: 100%;
    height: 863px;
    background-size: cover;
    background-position: bottom;
}



.new-text-box {
    text-align: center;
    width: 300px;
    margin: auto;
    padding-top: 100px;
}
.log-in-title{
	color: white;
}
.sign-email-box{
    margin-top: 45px;
    color: white;
}
.sign-password-box{
    margin-top: 45px;
    color: white;
}
.remenber-field{
    margin-top: 45px;
    color: white;
}
.email_pass_field {
    border: none;
    width: 100%;
    height: 30px;
    border: solid 1px white;
    background-color: #e7e7ff!important;
}
.btn-sign {
    width: 200px;
    background-color: #ffffff;
    margin-top: 30px;
}
.sign-link {
    margin-top: 20px;
}
.sign-link-text {
    color: white;
    font-size: 16px;
    border: none;
    text-decoration: none;
}
.sign-about-text{
    color: white;
    font-size: 24px;
    border: none;
    text-decoration: none;
}
.sign-text{
    color: white;
    font-size: 12px;
    margin-top: 20px;
}
/*サインアップ*/
.new-body-up {
    margin: auto;
    width: 45%;
    background-color: #103a6f;
    float: left;
    height: 863px;
    opacity: 0.8;
    box-shadow: -1px 1px 10px 10px #142935;
}
.new-up-box {
    text-align: center;
    width: 350px;
    margin: auto;
    padding-top: 100px;
}
#error_explanation{
    color: white;
}
.test {
    width: 100%;
    margin: 0 auto;
    height: 60px;
}
.sign-nickname-box{
    color: white;
    float: left;
    width: 50%;
}
.sign-name-box{
    color: white;
    float: right;
    width: 50%;
}
.nickname_field{
    border: none;
    width: 90%;
    height: 20px;
    border: solid 1px white;
    background-color: #e7e7ff!important;
}
.name_field{
    border: none;
    width: 90%;
    height: 20px;
    border: solid 1px white;
    background-color: #e7e7ff!important;
}

.sign-email-up-box {
    border: none;
    width: 100%;
    color: white;
    margin-top: 10px

}
.email_pass_up_field{
    border: none;
    width: 60%;
    height: 20px;
    border: solid 1px white;
    background-color: #e7e7ff!important;
}
.sex-box{
    color: white;
    margin-top: 20px;
}
.prefecture-box{
    color: white;
    margin-top: 20px;
}
.sign-password-up-box{
    margin-top: 12px;
    color: white;
}
.email_pass_up-field {
    border: none;
    height: 20px;
    border: solid 1px white;
    background-color: #e7e7ff !important;
    width: 60%;
}
/*マイページ*/
.my-page-back {
    background-image: image-url('IMG_20181129_082114.jpg');
    width: 100%;
    height: 763px;
    background-size: cover;
    background-position: bottom;
    padding-top: 100px;
    position: relative;
}

.profile-main {
    opacity: 0.95;
    width: 667px;
    height: auto;
    margin: auto;
    background-color: white;
    padding-top: 75px;
    border-radius: 38px;
    box-shadow: -1px 1px 10px 10px rgba(55, 152, 149, 0.24);
    position: relative;
    margin-top: 130px;
}
.top_image {
    border-radius: 96px;
    position: absolute;
    left: 256px;
    top: -75px;
    border: solid white;
}
.my-page-name{
    text-align: center;
    font-size: 28px;
    font-family: monospace;
}

.name-border {
    border-top: solid 1px #969696;
    width: 200px;
    margin: auto;
    margin-bottom: -19px;
}
.mypage-button {
    width: 100px;
    height: 28px;
    position: absolute;
    right: 92px;
    margin-top: -13px;
    border: solid 1px #36e9f3;
    color: #34acb3;
    border-radius: 12px;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
}
.moto-info{
    width:500px;
    margin:0 auto;
}
.moto-info-add-box{
    width: 100%;
    height: auto;
    text-align: center;
    border: solid 1px #36e9f3;
    border-radius: 12px;
    width: 100px;
    margin:10px auto 0;
}
.moto-info-add{
    text-decoration: none;
    color: #34acb3;
}
.moto-info-th{
    padding-left: 30px
}
.my-region{
    text-align: center;
}
.my-introduction {
    margin: auto;
    width: 530px;
}
.intro-text {
    margin-left: 50px;
}
.intro-text-main {
    width: 91%;
    margin: auto;
}
.border-moto-info {
    margin: auto;
    border-bottom: solid 1px #969696;
    width: 534px;
    margin-top: 27px;
}
.moto-info-title {
    width: 100px;
    margin-left: 33px;
    margin-top: 20px;
}
.my-sex{
    margin-top: 11px;
}
.moto-info-title {
    width: 100px;
    margin-left: 33px;
    margin-top: 20px;
}

.my_logout_btn {
    width: 100px;
    height: 28px;
    right: 92px;
    margin-top: -13px;
    border: solid 1px #36e9f3;
    color: #34acb3;
    border-radius: 12px;
    font-size: 15px;
    margin: 25px 0 30px 285px;
}
.moto-info-table{
    margin: auto;
}
.moto-info-delete {
    text-decoration: none;
    color: #34acb3;
    margin-right: 8px;
}
.moto-info-delete-box {
    text-decoration: none;
    color: #34acb3;
    padding-left: 10px;
    border-radius: 12px;
        border: solid 1px #36e9f3;
}
.log-out-box{
    width: 100%;
    height: auto;
}
.message-btn{
    margin-left: 30px;
    color: #34acb3;
    text-decoration: none;
}

.footer {
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "ヒラギノ角ゴ Pro", Hiragino Kaku Gothic Pro, "Yu Gothic", YuGothic, Arial, "メイリオ", Meiryo, sans-serif;
    text-decoration: none;
    font-size: 16px;
    position: absolute;
    left: 550px;
    bottom: 81px;
}
/*編集画面*/
.profile-main-edit {
    opacity: 0.95;
    width: 667px;
    height: auto;
    margin: auto;
    background-color: white;
    padding-top: 75px;
    border-radius: 38px;
    box-shadow: -1px 1px 10px 10px rgba(55, 152, 149, 0.24);
    position: relative;
    margin-top: 130px;
    text-align: center;
}
.back_to_mypage{
    color: #34acb3;
    text-decoration: none;
}
.myteam-th{
    width: 300px;
    margin: auto;
}