// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.new-body{
	margin:auto;
	height: auto;
	width: 300px;
	background-color: #e0ffff;
	border:solid 1px #e0ffff;
	border-radius: 10px;

}


.main-visual{
	background-image: url(IMG_20190503_133220.jpg);
	width: 1440px;
	height:1080px;
}


.profile-main {
    width: 500px;
    height: auto;
    margin: auto;
    background-color: white;
    padding-top: 100px;
    border-radius: 38px;
    box-shadow: -1px 1px 10px 10px rgba(55, 152, 149, 0.24);
}
.top_image {
    border-radius: 96px;
    margin-left: 584px;
}
body{
	background-color: #e0ffff;
}